<html>
    <!--ich bin ein Kommentar-->
    <!--Enthält Informationen über das Dokument-->
    <head>
        <link rel="stylesheet" href="styles.css">
        <!--Aufschrift auf dem Browser-Tab-->        
        <title>            
            N27 - Login
        </title>
    </head>
    <!--Sichtbarer Teil der Webseite-->
    <body>
        <!--Heading (Überschrift) erster Ordnung-->
        <h1>
            Bitte melden Sie sich hier an:
        </h1>
        
        <!--Paragraph (Absatz)-->
        <p>Benutzername:</p>
        <!--Eingabefeld, Textbox-->
        <input type="text" id="benutzername" placeholder="s150..." name="benutzername">
        <p>Passwort:</p>
        <input type="password" id="passwort" name="passwort">
    </body>
</html>