<!DOCTYPE html>
<html lang="de">
  <!--Unsichtbarer Teil der Webseite-->
  <!--Grundlegende Einstellungen der Seite-->
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

        <link rel="stylesheet" href="styles.css">
        <!--Aufschrift auf dem Browser-Tab-->        
        <title>            
            N27 - Login
        </title>
    </head>    
    <body>
        <h1>Bitte anmelden!</h1>
        <form method="POST" action="/">          
          <label>Benutzer-ID:</label>          
          <input type="text" name="idKunde">
          <label>Kennwort:</label>          
          <input type="password" name="kennwort">          
          <button>Login</button>
        </form>    
    </body>
</html>